<h1>Nouveau ganger pour <%= @gang.name %> </h1>

<%= form_for(@ganger, :action => resource(:gangers) ) do %>
<%= hidden_field :name => :gang_id, :value => @gang.id %>
  <p>
     <%= text_field :name, :label => "Nom" %>

  </p>

  <p>
     <%= text_area :name, :label => "Equipement" %>
  </p>

  <p>
    <%= text_field :xp, :label => "XP" %>
  <p>

  <p>
    <%= text_field :cost, :label => "Cout" %>
  <p>


  <%= submit "Créer" %>
          </p>
<% end =%>
