<h1>Nouveau gang</h1>
 
<%= form_for(@gang, :action => resource(:gangs) ) do %>
 
  <p>
    <%= @gang.name %>

  </p>
 
  <p>
    <%= @gang.house"  %>
  </p>

  <p>
    <%= text_field :magot, :label => "Magot" %> 
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

