<h1>Modification gang</h1>

<%= form_for(@gang, :action => resource(:gangs)) do %>

  <p>
    <%= @gang.name %>

  </p>

  <p>
    <%= @gang.house  %>
  </p>

  <p>
  <%= text_area :magot, :label => "Magot" %>
  <p>
    <%= submit "Modifier" %>

  <% end =%>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Characteristiques</th>
        <th>Modifier</th>
        <th>Effacer</th>
      </tr>
    </thead>
    <tbody>
      <% @gang.gangers.each do |ganger| %>
        <tr>
          <td><%= ganger.name %></td>
          <td><%= link_to "Modifier", resource(ganger, :edit) %>
          <td><%= delete_button(ganger, "Effacer") %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Ajout d'un ganger", resource(@gang, :gangers, :new) %>
</p>

  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Cost</th>
        <th>Effacer</th>
      </tr>
    </thead>
    <tbody>
      <% 
      @gang.gang_territories.each do |gang_territory|
      territory = gang_territory.territory
      %>
        <tr>
          <td><%= territory.name %></td>
          <td><%= territory.income %></td>
          <td><%= delete_button(resource(@gang, territory, :del_from_gang), "Effacer") %>
        </tr>
      <% end %>
    </tbody>
  </table>
<p>
<%= form_for(@gang, :action => resource(@gang, :add_territory), :method => :post) do %>
<%= select :territory_id, :collection => @territories, :text_method => :name, :value_method => :id, :include_blank => true %>
<%= submit "Ajouter" %>
<% end =%>
</p>


