<h1>Nouveau gang</h1>
 
<%= form_for(@gang, :action => resource(:gangs) ) do %>
 
  <p>
    <%= text_field :name, :label => "Nom" %>
  </p>
 
  <p>
    <%= text_field :house, :label => "Maison"  %>
  </p>

  <p>
    <%= text_field :magot, :label => "Magot" %> 
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

